/**
 * Dropdown
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include toggle;

  display: inline-block;
  height: $form-control-height;
  line-height: $form-control-height * 0.95;
  vertical-align: middle;
  width: 12em;
}

.dropdown-face {
  @include ellipsis;

  border: 1px solid;
  cursor: pointer;
  height: 100%;
  padding: 0 .5em;
}

.dropdown-list {
  background: white;
  border: 1px solid;
  margin-top: -1px;
  max-height: 20em;
  overflow: auto;
  position: absolute;
    left: 0;
    z-index: $z-modal + 1;
  width: 100%;
}

.dropdown-item {
  @include ellipsis;

  border-bottom: 1px solid;
  cursor: pointer;
  padding: 0 .5em;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: whitesmoke;
  }
}
