/**
 * Dropdown
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include toggle;

  color: $color-text-primary;
  display: inline-block;
  height: $form-control-height;
  line-height: $form-control-height * 0.95;
  vertical-align: middle;
  width: $form-control-width;
}

.dropdown-face {
  @include border;
  @include ellipsis;

  border-radius: $border-radius;
  color: $color-text-primary;
  cursor: pointer;
  height: 100%;
  padding-left: .5em;
  padding-right: $form-control-height;
}

.dropdown-arrow {
  @include input-icon;
}

.dropdown-list {
  @include border;

  background: white;
  border-radius: $border-radius;
  margin-top: -1px;
  max-height: 20em;
  overflow: auto;
  position: absolute;
    left: 0;
    z-index: $z-modal + 1;
  width: 100%;
}

.dropdown-item {
  @include ellipsis;

  cursor: pointer;
  padding: 0 $gap;

  &:hover {
    background: $color-primary-light;
    color: $color-primary;
  }

  &.selected {
    color: $color-primary;
  }
}
