/**
 * Dropdown
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include toggle;

  display: inline-block;
  height: $form-control-height;
  line-height: $form-control-height * 0.95;
  vertical-align: middle;
  width: $form-control-width;
}

.dropdown-face {
  @include ellipsis;

  border: 1px solid;
  cursor: pointer;
  height: 100%;
  padding-left: .5em;
  padding-right: $form-control-height;
}

.dropdown-arrow {
  @include square($form-control-height);

  position: absolute;
    top: 0;
    right: 0;
}

.dropdown-list {
  background: white;
  border: 1px solid;
  margin-top: -1px;
  max-height: 20em;
  overflow: auto;
  position: absolute;
    left: 0;
    z-index: $z-modal + 1;
  width: 100%;
}

.dropdown-item {
  @include ellipsis;

  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 0 .5em;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: whitesmoke;
  }

  &.selected {
    background: darkgray;
    color: white;
  }
}
