/**
 * Search with dropdown
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input {
  width: 10.5rem;
}

.search-icon {
  @include input-icon;
}
