/**
 * Date-picker
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include toggle;

  display: inline-block;
  vertical-align: middle;

  &.ng-invalid.ng-dirty .date-picker-input {
    border-color: $color-invalid;
  }
}

.date-picker-face {
  cursor: pointer;
}

.date-picker-input {
  color: $color-text-primary;
  padding-right: $form-control-height;
}

.date-picker-calendar {
  @include input-icon;
}

.date-picker {
  background: white;
  border: 1px solid;
  margin-top: -1px;
  position: absolute;
    z-index: $z-modal + 1;
  width: 20em;

  ph-dropdown {
    width: 6em;
  }

  button {
    border: 0;
    padding: 0 .5em;
  }
}

.date-picker-header {
  @include clearfix;

  border-bottom: 1px solid;
  padding: .25em .5em;
  text-align: center;
}

.date-picker-prev,
.date-picker-next {
  @include button-clear;
}

.date-picker-prev {
  float: left;
}

.date-picker-next {
  float: right;
}

.date-picker-week-names,
.date-picker-days {
  line-height: 2;
  text-align: center;
  overflow: hidden;
}

.date-picker-week-item,
.date-picker-day-item {
  float: left;
  width: percentage(1 / 7);
}

.date-picker-days {
  padding-bottom: .25em;
}

.date-picker-day-item {
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }

  &.today {
    font-weight: 700;
  }

  &.out-of-range {
    color: darkgray;
  }

  &.current {
    background: darkgray;
    color: white;
  }
}
