<ph-selection-bar>
  <label>Project:</label>
  <ph-dropdown placeholder="Select project"
               [data]="dropdownData"></ph-dropdown>

  <label>Group:</label>
  <ph-dropdown placeholder="Select group"
               [data]="dropdownData"></ph-dropdown>

  <label>Date from:</label>
  <ph-date-picker [(ngModel)]="dateFrom"></ph-date-picker>

  <label>Date to:</label>
  <ph-date-picker [(ngModel)]="dateTo"></ph-date-picker>

  <div class="select-bar-right">
    <ph-search placeholder="Search project..."></ph-search>
  </div>
</ph-selection-bar>

<ph-tabs [tabs]="tabs"></ph-tabs>
