/**
 * Grid
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  border: 1px solid;
  display: block;
  height: 30em;
  position: relative;
}

:host /deep/ img {
  max-width: 5rem;
  vertical-align: middle;
}

table {
  background: white;
}

tbody > tr {
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }
}

th,
td {
  border: 1px solid;
  padding: .25em;

  &:first-child {
    border-left: 0;
  }
}

tr:first-child > th {
  border-top: 0;
}

tr:last-child > td {
  border-bottom: 0;
}

.grid-select {
  box-sizing: content-box;
  padding-left: .5em;
  padding-right: .5em;
  width: 13px;

  input {
    vertical-align: .1em;
  }
}

.grid-header {
  border-bottom: 1px solid;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

  th {
    border-bottom: 0;
  }
}

.grid-data {
  @include full-size;

  top: 2em;
  bottom: 2em;
  overflow-y: scroll;
}

.grid-footer {
  align-items: center;
  border-top: 1px solid;
  display: flex;
  height: 2em;
  justify-content: flex-end;
  padding: 0 .25em;
  position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  text-align: right;
}

.grid-footer-button,
.grid-footer-page {
  font-size: .875em;
  height: 1.5rem;
  line-height: 1.5rem;
}

.grid-footer-page {
  margin: 0 .25em;
  text-align: center;
  width: 4em;
}

.grid-footer-button {
  padding: 0 .5em;
}
