<div class="grid-header"
     [ngStyle]="{ 'border-right-width': ScrollBarWidth + 'px' }">
  <table>
    <thead>
      <tr>
        <th *ngIf="options.selectable"
            class="grid-select"></th>

        <th *ngFor="let column of options.columns"
            [ngStyle]="{ 'text-align': column.align }">{{column.text}}
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="grid-data">
  <table>
    <thead>
      <tr>
        <th *ngIf="options.selectable"
            class="grid-select"></th>

        <th *ngFor="let column of options.columns"
            [ngStyle]="{ 'text-align': column.align }">{{column.text}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data.list; let i = index;"
          (click)="clickRow(row)">
        <td *ngIf="options.selectable"
            class="grid-select">
          <input type="checkbox"
                 (change)="toggleSelect(i)"
                 (click)="$event.stopPropagation()">
        </td>

        <td *ngFor="let column of options.columns"
            [ngStyle]="{ 'text-align': column.align }">
          <ph-grid-cell [column]="column" [data]="row"></ph-grid-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="grid-footer">
  <button type="button"
          class="grid-footer-button"
          [disabled]="options.query.currentPage === 1"
          (click)="previousPage()">上一页</button>
  <input type="text"
         class="grid-footer-page"
         #page
         (input)="turnPage(page.value)">
  <button type="button"
          class="grid-footer-button"
          [disabled]="options.query.currentPage === data.totalPages"
          (click)="nextPage()">下一页</button>
</footer>
