<div class="grid-header"
     [ngStyle]="{ 'padding-right': scrollBarWidth + 'px' }">
  <table>
    <thead>
      <tr>
        <th *ngIf="options.selectable"
            class="grid-select"></th>

        <th *ngFor="let column of options.columns"
            [ngStyle]="{ 'text-align': column.align }">{{column.text}}
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="grid-data">
  <div *ngIf="loading"
       class="grid-loading">
    <div class="grid-loading-text">Loading...</div>
  </div>

  <table>
    <tbody>
      <tr *ngFor="let row of data.list; let i = index;"
          (click)="onClickRow(row)">
        <td *ngIf="options.selectable"
            class="grid-select">
          <input type="checkbox"
                 (change)="toggleSelect(i)"
                 (click)="$event.stopPropagation()">
        </td>

        <td *ngFor="let column of options.columns"
            [ngStyle]="{ 'text-align': column.align }">
          <ph-grid-cell [column]="column"
                        [data]="row"></ph-grid-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="grid-footer">
  <button type="button"
          class="grid-footer-button"
          [disabled]="previousDisabled"
          (click)="previousPage()">«</button>
  <input type="number"
         class="grid-footer-page"
         [(ngModel)]="options.query.currentPage"
         (input)="turnPage(options.query.currentPage)">
  <button type="button"
          class="grid-footer-button"
          [disabled]="nextDisabled"
          (click)="nextPage()">»</button>
</footer>
