/**
 * Grid
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

$grid-height: 2.25rem;

:host {
  display: block;
  height: 30em;
  position: relative;
}

:host /deep/ img {
  max-width: 5rem;
  vertical-align: middle;
}

table {
  background: white;
}

tbody > tr {
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }
}

th,
td {
  padding: .25em .5em;
}

th {
  color: $color-text-primary;
}

.grid-select {
  box-sizing: content-box;
  padding-left: .5em;
  padding-right: .5em;
  width: 13px;

  input {
    vertical-align: .1em;
  }
}

.grid-header {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.grid-data {
  @include full-size;

  top: 2em;
  bottom: 2.5em;
  overflow-y: scroll;
}


// Footer
// ---------------------------

.grid-footer {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  justify-content: flex-end;
  padding: .25em;
  position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  text-align: right;
}

.grid-footer-button,
.grid-footer-page {
  font-size: .875em;
  height: 1.5rem;
}

.grid-footer-page {
  margin: 0 .25em;
  line-height: 1.5rem;
  text-align: center;
  width: 4em;
}

.grid-footer-button {
  @include button-clear;

  line-height: calc(1.5rem - 2px);
}


// Loading
// ---------------------------

.grid-loading {
  @include full-size;

  background: white;
  display: flex;
  opacity: .5;
}

.grid-loading-text {
  margin: auto;
}
