/**
 * Tabs
 */

@import "../../../styles/variables";

.tabs {
  padding: 0 $gap / 2;
}

.tab-link {
  display: inline-block;
  margin-right: $gap / 2;
  padding: .5em $gap / 2;

  &:hover {
    background: whitesmoke;
  }

  &.active {
    box-shadow: inset 0 -2px 0 currentColor;
  }
}

.tab-content {
  padding: $gap;
}
