/**
 * Tabs
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

.tabs {
  background: $color-primary-dark;
  color: white;
  font-size: $font-md;
}

.tab-link {
  background: $color-primary-dark;
  display: inline-block;
  line-height: $control-size-lg;
  padding: 0 $gap * 3;
  position: relative;
  transition: background $duration-short $timing;

  &:hover {
    background: mix($color-primary, $color-primary-dark);
  }

  &::before {
    @include full-size;

    background: currentColor;
    content: '';
    height: 2px;
    transform: scaleX(0);
    top: auto;
  }

  &.active::before {
    transform: scaleX(1);
    transition: transform $duration-short $timing;
  }
}
