/**
 * Form controls and structure
 */

@import "variables";
@import "mixins";

input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
button {
  background: white;
  border: 1px solid;
  height: $form-control-height;
  padding: 0 .25em;
  vertical-align: middle;

  &:focus {
    background: whitesmoke;
  }
}

button {
  padding: 0 1em;

  &:active {
    background: gainsboro;
  }
}


// Invalid
// ---------------------------

.ng-dirty.ng-invalid {
  border-color: $color-invalid;

  &:focus {
    background: white;
  }
}
