/**
 * Form controls and structure
 */

@import "variables";
@import "mixins";

input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
button {
  @include border;

  background: white;
  border-radius: $border-radius;
  color: $color-text;
  height: $form-control-height;
  line-height: $form-control-height - $border-width * 2;
  padding: 0 .5em;
  transition: background $duration $timing;
  vertical-align: middle;
  width: $form-control-width;

  &:focus {
    background: whitesmoke;
  }
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: .15em;
}

button {
  background: $color-primary;
  border: 0;
  color: white;
  line-height: $form-control-height;
  padding: 0 1em;
  width: auto;

  &:focus,
  &:active {
    background: darken($color-primary, 5%);
  }

  .iconfont {
    font-size: $font-md;
  }
}

.button-dark {
  @include button-dark;
}

.button-clear {
  @include button-clear;
}


// Invalid
// ---------------------------

.ng-touched.ng-dirty.ng-invalid {
  border-color: $color-invalid;

  &:focus {
    background: white;
  }
}
