/**
 * Form controls and structure
 */

@import "variables";
@import "mixins";

input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
button {
  background: white;
  border: 1px solid;
  height: $form-control-height;
  padding: 0 .5em;
  vertical-align: middle;
  width: $form-control-width;

  &:focus {
    background: whitesmoke;
  }
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: .15em;
}

button {
  padding: 0 1em;
  width: auto;

  &:active {
    background: gainsboro;
  }
}


// Invalid
// ---------------------------

.ng-touched.ng-dirty.ng-invalid {
  border-color: $color-invalid;

  &:focus {
    background: white;
  }
}
