/**
 * Variables
 */


// Color
// ---------------------------

$color-invalid: crimson;


// Spacing
// ---------------------------

$gap: 1rem;


// Animation
// ---------------------------

$duration: .3s;
$timing: ease-in-out;


// Text
// ---------------------------

$line-height: 1.5;


// Form
// ---------------------------

$form-control-height: 2rem;


// Z-index
// ---------------------------

$z-modal: 100;
