/**
 * Variables
 */


// Color
// ---------------------------

$color-text: #444443;
$color-text-primary: #03367A;

$color-bg: #F5F5F5;
$color-bg-light: #F8F8F8;

$color-border: #CCC;
$color-border-light: #EFEFEF;

$color-primary: #0089C4;
$color-primary-dark: #023176;
$color-primary-light: #CAE3E9;

$color-side-nav: #003478;

$color-invalid: crimson;
$color-clear: #5B8F22;
$color-highlight: #E98300;


// Spacing
// ---------------------------

$gap: .625rem;
$gap-lg: $gap * 2;

$border-radius: .125rem;
$border-width: .0625rem;

$control-size: 1.875rem;
$control-size-lg: 3.125rem;


// Animation
// ---------------------------

$duration: .3s;
$duration-short: .2s;
$duration-long: .4s;
$timing: linear;


// Text
// ---------------------------

$line-height: 1.5;

$font-lg: 1rem;
$font-md: .875rem;
$font-sm: .75rem;



// Form
// ---------------------------

$form-control-height: $control-size;
$form-control-width: 8.75rem;


// Side-bar
// ---------------------------

$side-nav-width: 8.5rem;


// Z-index
// ---------------------------

$z-modal: 100;
