/**
 * Global styles
 */


@import "../../node_modules/desktop-css-starter/src/starter";
@import "variables";
@import "mixins";

@import "form";


.pre-loading {
  @include full-size();

  text-align: center;
  top: 40%;
}

body {
  @include modal-mask;

  color: $color-text;
  font-size: $font-sm;
  line-height: $line-height;
}

h2 {
  font-size: 1.125em;
  font-weight: 500;
}
