<h2>Template Form</h2>

<p>{{signupForm.value | json}}</p>

<form #signupForm="ngForm"
      novalidate
      (submit)="registerUser(signupForm)">
  <div ngModelGroup="user">
    <div class="form-group">
      <label>Email: </label>
      <input type="email"
             name="email"
             placeholder="email"
             required
             ngModel="corvine@qq.com">
    </div>

    <div class="form-group">
      <label>Password: </label>
      <input type="password"
             name="password"
             placeholder="password"
             required
             ngModel>
    </div>

    <div class="form-group">
      <label>Gender: </label>
      <ph-dropdown name="gender"
                   [data]="dropdownData"
                   ngModel></ph-dropdown>
    </div>

    <div class="form-group">
      <label>Date of Birth: </label>
      <ph-date-picker name="dob"
                      ngModel></ph-date-picker>
    </div>
  </div>

  <button type="submit"
          [disabled]="signupForm.invalid">Sign up</button>
</form>

<h2>Reactive Form</h2>

<p>{{timeForm.value | json}}</p>

<form #timeForm="ngForm"
      novalidate
      [formGroup]="timeControls">
  <div class="form-group">
    <label>From: </label>
    <ph-date-picker name="start"
                    placeholder="Pick start date"
                    formControlName="start"></ph-date-picker>
  </div>

  <div class="form-group">
    <label>To: </label>
    <ph-date-picker name="end"
                    placeholder="Pick end date"
                    formControlName="end"></ph-date-picker>
  </div>

  <button type="submit"
          [disabled]="timeForm.invalid">Save</button>
</form>
