<div class="http-demo-item">
  <button type="button"
          class="button"
          (click)="getMethod()">Get</button>
  <span class="http-data">Response Data: {{getResponse | async | json}}</span>
  <input type="text"
         placeholder="get param"
         [(ngModel)]="getParam"
         (ngModelChange)="getMethod()">
</div>

<div class="http-demo-item">
  <button type="button"
          class="button"
          (click)="postMethod()">Post</button>
  <span class="http-data">Response Data: {{postResponse | async | json}}</span>
  <input type="text"
         placeholder="post data"
         [(ngModel)]="postData"
         (ngModelChange)="postMethod()">
</div>

<div class="http-demo-item">
  <button type="button"
          class="button"
          (click)="putMethod()">Put</button>
  <span class="http-data">Response Data: {{putResponse | async | json}}</span>
  <input type="text"
         placeholder="put data"
         [(ngModel)]="putData"
         (ngModelChange)="putMethod()">
</div>

<div class="http-demo-item">
  <button type="button"
          class="button"
          (click)="deleteMethod()">Delete</button>
  <span class="http-data">Response Data: {{deleteResponse | async | json}}</span>
  <input type="text"
         placeholder="delete param"
         [(ngModel)]="deleteParam"
         (ngModelChange)="deleteMethod()">
</div>

<div class="http-demo-item">
  <button type="button"
          class="button"
          (click)="postError()">Post Error</button>
  <span class="http-data">Error Message: {{errorMessage}}</span>
</div>
