/**
 * Side-bar & container
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include full-size();
}

.side-bar-nav {
  @include full-size();

  height: 100%;
  right: auto;
  width: $side-nav-width;
}

.side-bar {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

.side-bar-item {
  display: table-row;
}

.side-bar-link {
  background: $color-side-nav;
  color: white;
  display: table-cell;
  font-size: $font-lg;
  position: relative;
  vertical-align: middle;

  &:hover,
  &.active {
    background: $color-bg;
    color: $color-side-nav;
  }
}

.side-bar-icon {
  display: block;
  font-size: 2.25rem;
}

.side-bar-badge {
  @include square(1.5rem);

  background: $color-highlight;
  border-radius: 50%;
  color: white;
  position: absolute;
    top: 1rem;
    right: 2rem;
}

.side-bar-content {
  @include full-size();

  height: 100%;
  left: $side-nav-width;
  overflow: auto;
}
