/**
 * Home page
 */

@import '../../../styles/variables';

header {
  background: $color-primary;
  box-shadow: 0 .0625rem .1875rem rgba(0, 0, 0, .2);
  color: white;
  padding-left: $side-nav-width;
  padding-right: $gap-lg;
  position: relative;
    z-index: 1;
}

h1 {
  display: inline-block;
  font-size: 1.25rem;
  line-height: $control-size-lg;
}

.logout {
  float: right;
  font-size: $font-md;
  line-height: $control-size-lg;
}

:host /deep/ ph-side-bar {
  top: $control-size-lg;
}
