/**
 * Button
 */

button {
  background: white;
  border: 1px solid currentColor;
  padding: 0 .5em;

  &:hover {
    background: whitesmoke;
  }

  &:active {
    background: gainsboro;
  }

  &:disabled {
    background: white;
  }
}
